<div class="w-full h-full flex flex-col items-center justify-center gap-2">
  <div class="bg-base-200 w-1/3 rounded-xl shadow-lg flex flex-col p-4 gap-6">
    <div class="w-full flex justify-center">
      <img alt="Logo image" class="w-2/3" height="296" ngSrc="assets/logo.png" width="774"/>
    </div>
    <div class="divider"></div>
    <div class="w-full">
      <div *ngIf="!requestError" class="alert bg-primary/25 shadow-lg">
        <div>
          <svg class="stroke-current flex-shrink-0 w-6 h-6" fill="none" viewBox="0 0 24 24"
               xmlns="http://www.w3.org/2000/svg">
            <path d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"></path>
          </svg>
          <span>Willkommen auf der Supportly Webseite! Wir befinden uns derzeit in einer offenen Testphase. Bitte beachten Sie, dass das Produkt noch nicht fertig entwickelt ist.</span>
        </div>
      </div>
      <div *ngIf="requestError" class="alert alert-error shadow-lg">
        <div>
          <svg class="stroke-current flex-shrink-0 w-6 h-6" fill="none" viewBox="0 0 24 24"
               xmlns="http://www.w3.org/2000/svg">
            <path d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"></path>
          </svg>
          <span>{{requestErrorMessage}}</span>
        </div>
      </div>
    </div>
    <div class="flex flex-col">
      <div class="flex flex-col gap-4">
        <div class="w-full flex flex-col gap-2">
          <input [formControl]="emailInputField" class="w-full input" placeholder="Email Adresse" required
                 type="email" (keydown.enter)="login()"/>
          <div *ngIf="emailError" class="alert alert-error shadow-lg">
            <div>
              <svg class="stroke-current flex-shrink-0 w-6 h-6" fill="none" viewBox="0 0 24 24"
                   xmlns="http://www.w3.org/2000/svg">
                <path d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"></path>
              </svg>
              <span>{{emailErrorMessage}}</span>
            </div>
          </div>
        </div>
        <div class="w-full flex flex-col gap-2">
          <input [formControl]="passwordInputField" class="w-full input" placeholder="Passwort" required
                 type="password" (keydown.enter)="login()"/>
          <div *ngIf="passwordError" class="alert alert-error shadow-lg">
            <div>
              <svg class="stroke-current flex-shrink-0 w-6 h-6" fill="none" viewBox="0 0 24 24"
                   xmlns="http://www.w3.org/2000/svg">
                <path d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"></path>
              </svg>
              <span>{{passwordErrorMessage}}</span>
            </div>
          </div>
        </div>
        <div class="flex flex-row justify-between">
          <a class="pl-2 link">Passwort vergessen?</a>
          <p class="pr-2">Noch <a class="link" routerLink="/auth/register">keinen Account</a>?</p>
        </div>
      </div>
    </div>
    <div class="w-full flex justify-center">
      <a (click)="login()" [ngClass]="(loginIsLoading$ | async) ? 'loading' : ''"
         class="btn btn-primary w-full">Einloggen</a>
    </div>
  </div>
</div>
