<div class="w-full bg-base-200 rounded-xl shadow-lg p-4">
  <div class="flex flex-row w-full justify-between items-center">
    <div class="flex flex-col">
      <h1 class="text-2xl text-primary-content font-bold">Tickets</h1>
      <h1 class="text-sm">Hier befinden sich alle derzeitigen Tickets</h1>
    </div>
    <div class="flex flex-row gap-4">
      <a (click)="showAssignedToMe()" *ngIf="!onlyShowMine" class="btn btn-primary flex gap-2">
        <fa-icon [icon]="assignedIcon"></fa-icon>
        Meine anzeigen
      </a>
      <a (click)="showAll()" *ngIf="onlyShowMine" class="btn btn-primary flex gap-2">
        <fa-icon [icon]="assignedIcon"></fa-icon>
        Alle anzeigen
      </a>
    </div>
  </div>
  <div class="divider w-full"></div>
  <div class="h-[38rem] flex flex-col gap-12">
    <div class="w-full h-full">
      <table *ngIf="!(ticketIsLoading$ | async)" class="table">
        <thead>
        <tr>
          <th>Identifikation</th>
          <th>Titel</th>
          <th>Erstellt am</th>
          <th>Geschlossen am</th>
          <th>Verändert am</th>
          <th>Erstellt von</th>
          <th>Zugewiesen an</th>
          <th>Status</th>
          <th>Wichtigkeit</th>
        </tr>
        </thead>
        <tbody>
        <tr class="hover:bg-primary transition-all ease-in-out" *ngFor="let ticket of getDisplayedTickets()"
            (click)="openTicket(ticket.identifier)">
          <td>{{ ticket.identifier }}</td>
          <td>{{ ticket.title }}</td>
          <td>{{ ticket.createdAt | date }}</td>
          <td>{{ ticket.closedAt == -1 ? "Nicht geschlossen" : (ticket.closedAt | date) }}</td>
          <td>{{ ticket.closedAt == -1 ? "Nicht verändert" : (ticket.closedAt | date) }}</td>
          <td>{{ ticket.creator == null ? 'Keiner' : ticket.creator.lastName }}</td>
          <td>{{ ticket.assignee == null ? 'Keiner' : ticket.assignee.lastName}}</td>
          <td>{{ ticket.state }}</td>
          <td>{{ ticket.urgency }}</td>
        </tr>
        </tbody>
      </table>
      <div *ngIf="(ticketIsLoading$ | async)" class="w-full flex items-center justify-center h-full">
        <span class="loading loading-ring loading-lg"></span>
      </div>
    </div>
    <div class="flex flex-row w-full items-center justify-center">
      <div class="join">
        <a (click)="getPreviousPage()" class="btn btn-active join-item w-12"><</a>
        <a (click)="goToPage(page)" *ngFor="let page of getAvailablePageNumbers()"
           [ngClass]="currentPage === page ? 'btn-primary' : ''" class="btn btn-active join-item w-12">{{ page }}</a>
        <a (click)="getNextPage()" class="btn btn-active join-item w-12">></a>
      </div>
    </div>
  </div>
</div>
