<div *ngIf="(user$ | async) as user" class="w-full bg-base-200 rounded-xl shadow-lg p-4">
  <div class="flex flex-row w-full justify-between items-center">
    <div class="flex flex-col">
      <h1 class="text-2xl text-primary-content">Tickets</h1>
      <h1 class="text-sm">Hier befinden sich alle derzeitigen Tickets</h1>
    </div>
    <div class="flex flex-row gap-4">
      <a class="btn btn-primary flex gap-2">
        <fa-icon [icon]="filterIcon"></fa-icon>
        Filter
      </a>
      <a *ngIf="!onlyShowMine" class="btn btn-primary flex gap-2" (click)="showAssignedToMe(user)">
        <fa-icon [icon]="assignedIcon"></fa-icon>
        Meine anzeigen
      </a>
      <a *ngIf="onlyShowMine" class="btn btn-primary flex gap-2" (click)="showAll()">
        <fa-icon [icon]="assignedIcon"></fa-icon>
        Alle anzeigen
      </a>
    </div>
  </div>
  <div class="divider w-full"></div>
  <div class="flex flex-col gap-12">
    <div class="w-full h-full">
      <table class="table">
        <thead>
        <tr>
          <th>Identifier</th>
          <th>Title</th>
          <th>Created At</th>
          <th>Closed At</th>
          <th>Updated At</th>
          <th>Creator</th>
          <th>Assignee</th>
          <th>State</th>
          <th>Urgency</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let ticket of getDisplayedTickets()">
          <td>{{ ticket.identifier }}</td>
          <td>{{ ticket.title }}</td>
          <td>{{ ticket.createdAt | date }}</td>
          <td>{{ ticket.closedAt | date }}</td>
          <td>{{ ticket.updatedAt | date }}</td>
          <td>{{ ticket.creator == null ? 'None' : ticket.creator.firstName }}</td>
          <td>{{ ticket.assignee == null ? 'None' : ticket.assignee.firstName}}</td>
          <td>{{ ticket.state }}</td>
          <td>{{ ticket.urgency }}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="flex flex-row w-full items-center justify-center">
      <div class="join">
        <a class="btn btn-active join-item w-12" (click)="getPreviousPage()"><</a>
        <a (click)="goToPage(page)" *ngFor="let page of getAvailablePageNumbers()"
           [ngClass]="currentPage === page ? 'btn-primary' : ''" class="btn btn-active join-item w-12">{{ page }}</a>
        <a class="btn btn-active join-item w-12" (click)="getNextPage()">></a>
      </div>
    </div>
  </div>
</div>
