<div class="w-full h-full flex">
  <div class="flex items-center justify-center fixed h-full">
    <div class="bg-base-200 rounded-xl shadow-lg p-2">
      <ul class="flex flex-col gap-4">
        <li *ngFor="let navEntry of navbarLinks">
          <a class="btn w-full {{isUrl(navEntry.url) ? 'btn-primary':'btn-ghost'}}"
             routerLink="{{navEntry.url}}">
            <fa-icon [icon]="navEntry.icon" class="text-xl"></fa-icon>
          </a>
        </li>
        <li>
          <a (click)="logoutUser()" class="btn btn-ghost no-animation w-full">
            <fa-icon [icon]="logout" class="text-xl"></fa-icon>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="w-full flex justify-center">
    <div class="flex flex-col w-5/6 p-2 gap-24">
      <div class="w-full flex flex-row justify-between bg-base-200 rounded-xl shadow-lg p-2">
        <div class="flex justify-center items-center p-2">
          <div class="w-6" routerLink="/dashboard">
            <img alt="" src="https://supportly.blob.core.windows.net/branding/logo-small.png">
          </div>
        </div>
        <div
          *ngIf="(user$ | async) as user"
          class="flex justify-center items-center">
          <h1 class="text-2xl">Willkommen, {{user.firstName}} {{user.lastName}}</h1>
        </div>
        <div *ngIf="(userIsLoading$ | async)"
             class="flex justify-center items-center">
          <span class="loading loading-infinity loading-lg text-3xl"></span>
        </div>
        <div class="flex justify-center items-center pr-4">
          <span (click)="switchModal()" class="btn btn-circle btn-ghost">
            <fa-icon [icon]="search" class="text-xl"></fa-icon>
          </span>
        </div>
      </div>
      <div class="w-full h-full">
        <ng-content></ng-content>
      </div>
    </div>
  </div>
  <div [ngClass]="modalOpen ? 'modal-open' : ''" class="modal">
    <div class="modal-box flex flex-col gap-4">
      <div class="w-full flex justify-between gap-8">
        <input (input)="searchTickets()" [formControl]="searchInputField"
               class="input input-primary w-full" placeholder="Suche nach einem Ticket..."/>

        <a (click)="switchModal()" class="btn btn-circle btn-ghost text-xl">
          <fa-icon [icon]="close"></fa-icon>
        </a>
      </div>
      <div *ngIf="(searchResult$ | async) as searchResult" class="flex flex-col w-full">
        <div *ngFor="let searchTicket of searchResult.results; let ticketIndex = index">
          <div
            class="w-full flex items-center rounded justify-between p-2 {{ticketIndex % 2 == 0 ? 'bg-black/10' : ''}}">
            <div class="flex gap-6">
              <h1 class="text-lg">{{searchTicket.identifier}}</h1>
              <h1 class="text-lg">{{searchTicket.title}}</h1>
            </div>
            <a (click)="switchModal()" class="btn btn-sm btn-circle btn-ghost text-lg">
              <fa-icon [icon]="rightArrow"></fa-icon>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
