<div class="w-full h-full flex flex-col items-center justify-center gap-2">
  <div class="bg-base-200 w-1/4 rounded-xl shadow-lg flex flex-col p-4 gap-6">
    <div class="w-full flex justify-center">
      <img alt="Logo image" class="w-2/3" height="296"
           src="https://supportly.blob.core.windows.net/branding/logo.png" width="774"/>
    </div>
    <div class="divider"></div>
    <div class="w-full">
      <div *ngIf="!tokenInvalid && !generalError" class="alert bg-primary/25 shadow-lg">
        <svg class="stroke-current flex-shrink-0 w-6 h-6" fill="none" viewBox="0 0 24 24"
             xmlns="http://www.w3.org/2000/svg">
          <path d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"></path>
        </svg>
        <span>Bitte haben Sie einen Moment Gedult, während wir Ihre Email-Adresse überprüfen. Sie werden automatisch weitergeleitet.</span>
      </div>
      <div *ngIf="generalError" class="alert alert-error shadow-lg">
        <svg class="stroke-current flex-shrink-0 w-6 h-6" fill="none" viewBox="0 0 24 24"
             xmlns="http://www.w3.org/2000/svg">
          <path d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"></path>
        </svg>
        <span>Es tut uns Leid, aber scheinbar ist uns ein Fehler unterlaufen. Bitte melde dich mit deiner Email-Adresse bei unserem Support!</span>
      </div>
      <div *ngIf="tokenInvalid" class="alert alert-error shadow-lg">
        <svg class="stroke-current flex-shrink-0 w-6 h-6" fill="none" viewBox="0 0 24 24"
             xmlns="http://www.w3.org/2000/svg">
          <path d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"></path>
        </svg>
        <span>Scheinbar ist dein Token abgelaufen. Wir haben dir automatisch eine neue Email geschickt, bitte prüfe dein Postfach (ggf. auch den Spam Ordner)!</span>
      </div>
    </div>
    <div class="w-full">
      <div *ngIf="!generalError && !tokenInvalid" class="w-full h-8 flex justify-center items-center gap-2">
        <div class="w-6 h-6 rounded-full bg-primary/50 shadow-lg animate-[bounce_1s_ease-in-out_infinite]"></div>
        <div class="w-6 h-6 rounded-full bg-primary/50 shadow-lg animate-[bounce_2s_ease-in-out_infinite]"></div>
        <div class="w-6 h-6 rounded-full bg-primary/50 shadow-lg animate-[bounce_3s_ease-in-out_infinite]"></div>
        <div class="w-6 h-6 rounded-full bg-primary/50 shadow-lg animate-[bounce_4s_ease-in-out_infinite]"></div>
        <div class="w-6 h-6 rounded-full bg-primary/50 shadow-lg animate-[bounce_5s_ease-in-out_infinite]"></div>
      </div>
    </div>
  </div>
</div>
