<div class="w-full h-full">
  <div *ngIf="(ticketIsLoading$ | async)" class="flex w-full h-full items-center justify-center">
    <span class="loading loading-ring loading-lg"></span>
  </div>
  <div *ngIf="!(ticketIsLoading$ | async) && (ticket$ | async) as ticket"
       class="w-full h-[46rem] flex flex-row bg-base-200 rounded-xl shadow-lg p-4 overflow-scroll">
    <div class="flex flex-col w-full h-full p-4 gap-2">
      <div class="flex flex-col overflow-scroll w-full h-full p-4">
        <h1 class="p-4 bg-primary/25 rounded-2xl w-full flex flex-col">
          <span class="font-bold">Beschreibung</span>
          {{ticket.description}}
        </h1>
        <div *ngFor="let message of messages" [class.animate-spin]="easterEggEnabled"
             [class.chat-end]="wasSentByUser(message.getSenderid())"
             [class.chat-start]="!wasSentByUser(message.getSenderid())"
             class="chat">
          <div class="chat-image avatar">
            <div class="w-10 rounded-full">
              <img
                alt=""
                src="{{wasSentByUser(message.getSenderid()) ? user.profilePictureUrl : message.getSenderprofilepictureurl()}}"/>
            </div>
          </div>
          <div class="chat-header">
            {{message.getSenderdisplayname()}}
            <time class="text-xs opacity-50">{{message.getTimestamp() | date}}</time>
          </div>
          <div class="chat-bubble max-w-[38rem] break-words">{{message.getMessage()}}</div>
        </div>
      </div>
      <div class="w-full flex flex-row items-center justify-center gap-2">
        <input [formControl]="chatMessageInput" class="input w-full h-full" placeholder="Schreibe deine Nachricht"/>
        <a (click)="sendMessage()" class="btn btn-primary h-full flex gap-2">
          <fa-icon [icon]="paperPlaneIcon"></fa-icon>
          Senden</a>
      </div>
    </div>
    <div class="flex flex-col gap-6 pt-8 w-[22rem]">
      <div class="flex flex-col p-4 gap-6 rounded-2xl bg-primary/25">
        <h1 class="flex flex-col">
          <span class="font-bold">Ticket Identifikation</span>
          {{ticket.identifier}}
        </h1>
        <h1 class="flex flex-col">
          <span (click)="countEasterEgg()" class="font-bold">Erstellt von</span>
          {{ticket.creator?.firstName}} {{ticket.creator?.lastName}}
        </h1>
        <h1 class="flex flex-col">
          <span class="font-bold">Verändert am</span>
          {{ ticket.updatedAt == -1 ? "Nicht verändert" : (ticket.updatedAt | date) }}
        </h1>
        <h1 class="flex flex-col">
          <span class="font-bold">Geschlossen am</span>
          {{ ticket.closedAt == -1 ? "Nicht geschlossen" : (ticket.closedAt | date) }}
        </h1>
        <h1 *ngIf="user.role.name == 'ROLE_USER'" class="flex flex-col">
          <span class="font-bold">Status</span>
          {{ticket.state}}
        </h1>
        <div class="flex flex-col gap-2">
          <h1 class="flex flex-col">
            <span class="font-bold">Zugewiesen an</span>
            {{ticket.assignee?.firstName ?? 'Nicht'}} {{ticket.assignee?.lastName ?? 'zugewiesen'}}
          </h1>
          <div *ngIf="user.role.name != 'ROLE_USER'" class="flex flex-row gap-2">
            <a (click)="assignMyself()" class="btn btn-sm">Mir zuweisen</a>
          </div>
        </div>
      </div>
      <div *ngIf="user.role.name != 'ROLE_USER'" class="flex flex-col gap-2">
        <select (change)="changeState($event)" class="select w-full h-[2em]">
          <option *ngFor="let ticketState of getTicketStates()"
                  [disabled]="ticketState == ticket.state" [selected]="ticketState == ticket.state">
            {{ticketState}}
          </option>
        </select>
        <select (change)="changeUrgency($event)" class="select w-full h-[2em]">
          <option *ngFor="let ticketUrgency of getTicketUrgencies()"
                  [disabled]="ticketUrgency == ticket.urgency" [selected]="ticketUrgency == ticket.urgency">
            {{ticketUrgency}}
          </option>
        </select>
      </div>
    </div>
  </div>
</div>
