<div class="flex flex-col w-full gap-20">
  <div class="w-full">
    <table class="table w-full">
      <thead>
      <tr>
        <th>Identifier</th>
        <th>Title</th>
        <th>Description</th>
        <th>Created At</th>
        <th>Closed At</th>
        <th>Updated At</th>
        <th>Creator</th>
        <th>Assignee</th>
        <th>State</th>
        <th>Urgency</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let ticket of getDisplayedTickets()">
        <td>{{ ticket.identifier }}</td>
        <td>{{ ticket.title }}</td>
        <td>{{ ticket.description }}</td>
        <td>{{ ticket.createdAt | date }}</td>
        <td>{{ ticket.closedAt | date }}</td>
        <td>{{ ticket.updatedAt | date }}</td>
        <td>{{ ticket.creator == null ? 'None' : ticket.creator.firstName }}</td>
        <td>{{ ticket.assignee == null ? 'None' : ticket.assignee.firstName}}</td>
        <td>{{ ticket.state }}</td>
        <td>{{ ticket.urgency }}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="flex flex-row w-full items-center justify-center">
    <div class="join">
      <button *ngFor="let page of getAvailablePageNumbers()"
              [ngClass]="currentPage === page ? '' : ''" class="btn join-item"
              (click)="goToPage(page)">{{ page }}</button>
    </div>
  </div>
</div>
